.container{
    position: relative;
    /* border: 1px solid green; */
    width: 100%;
    height: 600px;
    margin: auto;

}
.header{
    position: relative;
    border: 1px solid brown;
    width:  100%;
    height: 100px;

}
content{
    position: relative;
    border: 1px solid brown;
    width: 100%;
    height: 400px;

}
.footer{
    position: relative;
    border: 1px;
    width: 1px;
    height: 1px;

}
.logo{
    position: absolute;
    border: solid;

}
.iframe{
    width: 100%;
    height: 100%;

}
.imgdata{
    border: 1px solid orange;
    border-bottom: 1px solid black;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    padding: 10px;

}
.data{
    text-align: justify;
    padding: 10px;
    margin: 5px;
}
.menu{
    position: relative;
    float: right;

}
a{
    text-decoration:none;

}
ul{
    list-style-type:none; 

}
li{
    display:inline;
    margin-right:5px;

}
li a{
    color: black;
    padding:10px;

}
li a:hover{
    background-color: black;
    color: white;
    border-bottom:5px solid orange;
    border-radius:0 20px;
}